yt_pipeline:
  target: prod
  outputs:
    prod:
      type: synapse
      driver: "ODBC Driver 18 for SQL Server"
      server: "${SYNAPSE_SERVER}"
      port: 1433
      database: "yt_pipeline"
      schema: "curated"
      authentication: ActiveDirectoryServicePrincipal
      tenant_id: "${AZURE_TENANT_ID}"
      client_id: "${DBT_SP_CLIENT_ID}"
      client_secret: "${DBT_SP_CLIENT_SECRET}"
      encrypt: true
      trust_cert: false
      threads: 4
